[submodule "Resources/Public/Manifests/MootoolsDatepicker"]
	path = Resources/Public/Manifests/MootoolsDatepicker
	url = https://github.com/arian/mootools-datepicker.git
[submodule "Resources/Public/Manifests/Bootstrap"]
	path = Resources/Public/Manifests/Bootstrap
	url = https://github.com/anutron/mootools-bootstrap.git
[submodule "Resources/Public/Manifests/Stack"]
	path = Resources/Public/Manifests/Stack
	url = https://github.com/daKmoR/mootools-stack.git
[submodule "Resources/Public/Manifests/Slide"]
	path = Resources/Public/Manifests/Slide
	url = https://github.com/daKmoR/mootools-slide.git
[submodule "Resources/Public/Manifests/PopUp"]
	path = Resources/Public/Manifests/PopUp
	url = https://github.com/daKmoR/mootools-popup.git
[submodule "Resources/Public/Manifests/MooGooMaps"]
	path = Resources/Public/Manifests/MooGooMaps
	url = https://github.com/Ciul/MooGooMaps.git
[submodule "Resources/Public/Manifests/Movie"]
	path = Resources/Public/Manifests/Movie
	url = https://github.com/daKmoR/mootools-movie
[submodule "Resources/Public/Manifests/MooDropMenu"]
	path = Resources/Public/Manifests/MooDropMenu
	url = https://github.com/arian/MooDropMenu.git
[submodule "Resources/Public/Manifests/Flexo"]
	path = Resources/Public/Manifests/Flexo
	url = https://github.com/daKmoR/mootools-flexo.git
